.well {
    /* drop-shadow is better than box-shadow as it add a shadow to tooltip arrows arrow as well,
    however drop-shadow dramatically affects the performance of transition animation on Android. */
    /* filter: drop-shadow(0 0 10px rgba(0,0,0,0.3)); */
    display:none;
    margin:1em;
    max-width: 740px;
}
.well .popup_close {
    position: absolute;
    top: 0;
    right: 0px;
    border-radius: 2px;
    background: none;
    border: 0;
    font-size: 25px;
    padding: 0 10px;
}
pre.prettyprint {
    padding: 9px 14px;
}
pre {
  font-size: 12px;
}
a {
    color: #1a0dab!important;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
}
